*.csv filter=lfs diff=lfs merge=lfs -text
*.gitignore filter=lfs diff=lfs merge=lfs -text
*.EBA filter=lfs diff=lfs merge=lfs -text
*.EBN filter=lfs diff=lfs merge=lfs -text
*.ROS filter=lfs diff=lfs merge=lfs -text
/data/raw/retro/2018/box_score_event_files/TEAM2018 filter=lfs diff=lfs merge=lfs -text
*.EVA filter=lfs diff=lfs merge=lfs -text
*.EVN filter=lfs diff=lfs merge=lfs -text
/data/raw/retro/2018/retrosheet_events/TEAM2018 filter=lfs diff=lfs merge=lfs -text
/data/raw/retro/2019/box_score_event_files/TEAM2019 filter=lfs diff=lfs merge=lfs -text
/data/raw/retro/2019/retrosheet_events/TEAM2019 filter=lfs diff=lfs merge=lfs -text
/data/raw/retro/2020/box_score_event_files/TEAM2020 filter=lfs diff=lfs merge=lfs -text
/data/raw/retro/2020/retrosheet_events/TEAM2020 filter=lfs diff=lfs merge=lfs -text
/data/raw/retro/2021/box_score_event_files/TEAM2021 filter=lfs diff=lfs merge=lfs -text
/data/raw/retro/2021/retrosheet_events/TEAM2021 filter=lfs diff=lfs merge=lfs -text
/data/raw/retro/2022/box_score_event_files/TEAM2022 filter=lfs diff=lfs merge=lfs -text
/data/raw/retro/2022/retrosheet_events/TEAM2022 filter=lfs diff=lfs merge=lfs -text
/data/raw/retro/2023/box_score_event_files/TEAM2023 filter=lfs diff=lfs merge=lfs -text
/data/raw/retro/2023/retrosheet_events/TEAM2023 filter=lfs diff=lfs merge=lfs -text
/data/raw/retro/2024/box_score_event_files/TEAM2024 filter=lfs diff=lfs merge=lfs -text
/data/raw/retro/2024/retrosheet_events/TEAM2024 filter=lfs diff=lfs merge=lfs -text
*.txt filter=lfs diff=lfs merge=lfs -text
*.py filter=lfs diff=lfs merge=lfs -text
*.md filter=lfs diff=lfs merge=lfs -text
*plays.csv filter=lfs diff=lfs merge=lfs -text
